.Blog {
  margin-top: 9rem;
  padding: 1rem;
}
.Blog .blogHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/blog3.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  margin-bottom: 2rem;
  display: grid;
  place-content: center;
  border-radius: 10px;
}
.Blog .blogHeader h1 {
  text-align: center;
  font-size: 40px;
  color: var(--color1);
  font-style: italic;
}
.Blog .statDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Blog .statDetails h3 {
  font-style: italic;
  font-weight: 800;
  font-size: 30px;
}
.Blog .statDetails ul {
  width: 50%;
}

.Blog .statDetails ul li {
  list-style: none;
}

.Blog .statDetails ul li .stat {
  display: block;
  font-weight: 700;
  font-size: 15px;
}
.Blog .statDetails ul li .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: inline-block;
  margin-top: 5px;
}
.Blog .statDetails ul li .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color1);
}
.Blog .statDetails ul li .percent .hair {
  background-color: red;
}

@media screen and (max-width: 32.1875em) {
  .Blog .statDetails ul {
    width: 70%;
  }
}

@media screen and (max-width: 26.875em) {
  .Blog {
    margin-top: 7rem;
  }
  .Blog .statDetails ul {
    width: 80%;
  }
}
