.Blog {
  margin-top: 9rem;
  padding: 1rem;
}
.Blog .blogHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/blog3.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  margin-bottom: 2rem;
  display: grid;
  place-content: center;
  border-radius: 10px;
}
.Blog .blogHeader h1 {
  text-align: center;
  font-size: 40px;
  color: var(--color1);
  font-style: italic;
}
.Blog .statDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Blog .statDetails h3 {
  font-style: italic;
  font-weight: 800;
  font-size: 30px;
}
.Blog .statDetails ul {
  width: 50%;
}

.Blog .statDetails ul li {
  list-style: none;
}

.Blog .statDetails ul li .stat {
  display: block;
  font-weight: 700;
  font-size: 15px;
}
.Blog .statDetails ul li .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: inline-block;
  margin-top: 5px;
}
.Blog .statDetails ul li .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color1);
}
.Blog .statDetails ul li .percent .hair {
  background-color: red;
}

@media screen and (max-width: 32.1875em) {
  .Blog .statDetails ul {
    width: 70%;
  }
}

@media screen and (max-width: 26.875em) {
  .Blog {
    margin-top: 7rem;
  }
  .Blog .statDetails ul {
    width: 80%;
  }
}
.accordionwrapper {
  margin-top: 1rem;
}

.accordionwrapper h2 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

.BlogWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
}
.BlogWrapper h1 {
  font-size: 15px;
}
.BlogWrapper .BtsCard,
.BlogWrapper .BeautyCard,
.BlogWrapper .Careercard,
.BlogWrapper .FashionCard,
.BlogWrapper .PersonalCard {
  width: 70%;
  margin: 0.5rem 0;
}

.BlogWrapper .item {
  background: var(--color1);
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.BlogWrapper .item .title {
  color: #85662b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BlogWrapper .item .title h3 {
  font-size: 16px;
}
.BlogWrapper .item .title span {
  font-size: 18px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: rgb(252, 221, 165);
}
.BlogWrapper .item .content {
  color: #3f2e0e;
  font-size: 15px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0, 1, 0, 1);
}
.BlogWrapper .item .content.show {
  margin-top: 1rem;
  height: auto;
  max-height: 9999px;
  line-height: 1.5rem;
  transition: all 0.2s cubic-bezier(0, 1, 0, 1);
}

@media screen and (max-width: 32.5em) {
  .BlogWrapper .BtsCard,
  .BlogWrapper .BeautyCard,
  .BlogWrapper .Careercard,
  .BlogWrapper .FashionCard,
  .BlogWrapper .PersonalCard {
    width: 80%;
  }
}

@media screen and (max-width: 26.875em) {
  .BlogWrapper .BtsCard,
  .BlogWrapper .BeautyCard,
  .BlogWrapper .Careercard,
  .BlogWrapper .FashionCard,
  .BlogWrapper .PersonalCard {
    width: 90%;
  }
}
