:root {
  --color1: #ffb200;
  --color2: #eb5b00;
  --color3: #e4003a;
  --color4: #b60071;
  scroll-behavior: smooth;
}
.Hero {
  margin: 1rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/pic28.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 2rem 1rem;
  height: 70vh;
}
.Hero h1 {
  padding: 1rem 0;
  text-align: center;
  font-style: italic;
  font-size: 50px;
  color: var(--color1);
}
.Hero p span,
.Hero h1 span {
  color: white;
}
.Hero p {
  padding-bottom: 1rem;
  font-size: 20px;
  text-align: center;
  color: var(--color1);
  font-style: italic;
}
.Hero a {
  text-decoration: none;
  padding: 1rem 1.8rem;
  color: var(--color3);
  background-color: var(--color1);
  border-radius: 10px;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 1rem;
}
@media screen and (max-width: 58.125em) {
  .Hero {
    margin-top: 12rem;
    height: auto;
  }
}
@media screen and (max-width: 55.625em) {
  .Hero {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 54.375em) {
  .Hero {
    margin-top: 10rem;
    height: 50vh;
  }
}
@media screen and (max-width: 51.875em) {
  .Hero h1 {
    font-size: 30px;
  }
  .Hero p {
    font-size: 15px;
  }
}

@media screen and (max-width: 26.875em) {
  .Hero {
    height: 50vh;
    margin-top: 6rem;
  }
  .Hero h1 {
    font-size: 20px;
  }
  .Hero p {
    font-size: 12px;
  }
  .Hero a {
    font-size: 12px;
  }
}

/*Carousel*/
.Carousel p {
  text-align: center;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--color1);
}
.Carousel {
  margin-top: 2rem;
  padding: 1rem;
}
.Carousel .root {
  width: 25%;
  margin: 0 auto;
}
.Carousel .root div img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 51.875em) {
  .Carousel .root {
    width: 80%;
  }
}
@media screen and (max-width: 26.875em) {
  .Carousel .root div img {
    height: auto;
  }
}

/*About*/
.About {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.About .Aboutleft {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About .Aboutleft h2 {
  font-size: 60px;
  color: var(--color2);
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
}
.About .Aboutleft p {
  font-size: 15px;
  color: var(--color2);
  line-height: 1.5rem;
  font-style: italic;
  text-align: center;
}
.About .AboutRight {
  width: 30%;
}
.About .AboutRight img {
  width: 100%;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 1);
}
@media screen and (max-width: 61em) {
  .About {
    flex-direction: column;
  }
  .About .Aboutleft {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .About .AboutRight {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 39.6875em) {
  .About .Aboutleft h2 {
    font-size: 40px;
  }
  .About .Aboutleft p {
    font-size: 12px;
  }
}
@media screen and (max-width: 26.875em) {
  .About .AboutRight {
    width: 80%;
  }
  .About .AboutRight img {
    height: auto;
  }
  .About .Aboutleft h2 {
    font-size: 20px;
  }
}

.banner {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  height: 60vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner h1 {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--color2);
  font-style: italic;
  text-align: center;
}
.banner .slider {
  margin-top: 4rem;
  position: absolute;
  width: 210px;
  height: 200px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autorun 30s linear infinite;
  z-index: 2;
  background-image: url("../../assets/pic34.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes autorun {
  from {
    transform: perspective(1000px) rotateX(-5deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-5deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(300px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 26.875em) {
  .banner h1 {
    font-size: 20px;
  }
}
