.Footer {
  background-color: #6799fc;
  padding: 0.6rem;
}
.Footer .FooterWrapper {
  display: flex;
  justify-content: space-evenly;
}
.Footer .FooterWrapper .FooterLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer .FooterWrapper .FooterLeft p span {
  color: var(--color2);
  cursor: pointer;
}

.Footer .FooterWrapper .FooterLeft img {
  width: 80px;
  border-radius: 50%;
}
.Footer .FooterWrapper .FooterLeft p {
  text-align: center;
}
.Footer .FooterWrapper .FooterRight {
  display: grid;
  place-content: center;
}
.Footer .FooterWrapper .FooterRight p {
  display: flex;
  column-gap: 1rem;
}
.Footer .FooterWrapper .FooterRight p span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  color: #6799fc;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.Footer .FooterWrapper .FooterRight p span:hover {
  background-color: rgb(189, 187, 187);
}
.Footer .rights {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 26.875em) {
  .Footer .FooterWrapper .FooterLeft img {
    width: 60px;
  }
  .Footer .FooterWrapper .FooterLeft p {
    font-size: 12px;
    margin: 7px 0;
  }
  .Footer .FooterWrapper .FooterRight h2 {
    font-size: 15px;
  }
  .Footer .FooterWrapper .FooterRight p span {
    /* font-size: 12px; */
    width: 30px;
    height: 30px;
  }
}
